{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->

    {% block content %}


    {% if request.user.is_authenticated %} {% for message in messages %}
    <div>
      [{{ message.createdAt }}] <b>{{ message.author.first_name }}</b> : {{ message.text }}
    </div>
    {% endfor %}

    <form action="/chat/" method="post">
      {% csrf_token %}
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input
          class="mdl-textfield__input"
          name="textmessage"
          type="text"
          id="sample3"
        />
        <label class="mdl-textfield__label" for="sample3">Text...</label>
      </div>
      <button
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
      >
        Send
      </button>
    </form>

    {% else %}

    <h1>Please login</h1>
    <a href="/login/">Login</a>

    {% endif %}

    {% endblock %}
  </body>
</html>
