{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>

    {% block content %} {% if request.user.is_authenticated %} 
    
    <div id="messageContainer">

    {% for message in messages %}
    <div>
      [{{ message.createdAt }}] <b>{{ message.author.first_name }}</b> : {{ message.text }}
    </div>
    {% endfor %}

    </div>

    <script>

      async function sendMessage() {
        const user = {
          first_name : "{{ request.user.first_name }}",
          last_name : "{{ request.user.last_name }}", 
        }
        let fd = new FormData();
        let token = "{{ csrf_token }}"
        const today = new Date();
        const options = { year: 'numeric', month: 'long', day: 'numeric' };
        const formattedDate = today.toLocaleDateString('en-US', options);
        fd.append("textmessage", messagefield.value);
        fd.append("csrfmiddlewaretoken", token);
        try {
          messageContainer.innerHTML += `
              <div style="color: grey" id="deleteMessage">
                [${formattedDate}] <b>{{ request.user.first_name }}</b> : ${messagefield.value}
              </div>`;
          let response = await fetch("/chat/", {
            method: "POST",
            body: fd,
          });
          let json = await response.json();
          let data = JSON.parse(json);
          console.log(data);
          document.getElementById("deleteMessage").remove();
          messageContainer.innerHTML += `
              <div style="color: black">
                [${formattedDate}] <b>${user.first_name}</b> : ${data.fields.text}
              </div>`;
          messagefield.value = "";
          console.log("ok");
        } catch (e) {
          console.log(e);
        }
      }
    </script>

    <form onsubmit="sendMessage(); return false;" method="post">
      {% csrf_token %}
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input
          class="mdl-textfield__input"
          name="textmessage"
          type="text"
          id="messagefield"
        />
        <label class="mdl-textfield__label" for="messagefield">Text...</label>
      </div>
      <button
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
      >
        Send
      </button>
    </form>

    {% else %}

    <h1>Please login</h1>
    <a href="/login/">Login</a>

    {% endif %} {% endblock %}
  </body>
</html>
