
{% extends 'base.html' %}

{% block content %}


<h1>Login</h1>

{% if wrong_password %}
  <p>Wrong password or username</p>
{% endif %}

<form method="POST" action="/login/" class="auth-form">
  {% csrf_token %}

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample1" name="username">
    <label class="mdl-textfield__label" for="sample1">Username / E-Mail</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="password" id="sample2" name="password">
    <label class="mdl-textfield__label" for="sample2">Password</label>
    </div>

  <div><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Login
</button></div>


</form>  


{% endblock %}